.slick-dots li button:before {
    background-color: red;
    height: 5px;
    width: 9rem;
    margin-top: 1rem;
    text-indent: -9999px;
    overflow:hidden; 
    }

 .slick-dots li{
    padding: 0 4rem 0 4rem;
}


.slick-slide>div {margin: 0 25px;}



